<section id="header">

  <div class="container">

    <header>
      <h1 data-animated="GoIn">
        <b>Chris &amp; Sarah</b>
      </h1>
      <h2>
        <b>Friday, August 29, 2014 - Save the date!</b>
      </h2>

    </header>

    <div id="timer" data-animated="FadeIn">
      <p id="message"></p>
      <div id="days" class="timer_box"></div>
      <div id="hours" class="timer_box"></div>
      <div id="minutes" class="timer_box"></div>
      <div id="seconds" class="timer_box"></div>
    </div>

  </div>

  <div id="layer"></div>

  <div id="slider" class="rev_slider">
    <ul>
      <li data-transition="slideleft" data-slotamount="1" data-thumb="<%= asset_path '1.jpg' %>">
        <%= image_tag '1.jpg' %>
      </li>
    </ul>
  </div>

</section>

